# numeric

In [ ]:
# integer
a=10
print(a)
print(type(a))

In [5]:
a=10.0
print(a)
print(type(a))

10.0
<class 'float'>

# STRING

In [7]:
# IT IS AN ORDERED SEQUENCE OF CHARACTER 
# 1. SINGLE LINE - DENOTED BY ' ' OR "" ""
# 2. MULTI LINE - DENOTED BY ''' ''' 
# INDEXED AND IMMUTABLE
s="" #empty string
print(s)
print(type(s))

<class 'str'>

In [9]:
                 # SINGLE LINE


#indexed
b="decode"
print(b[0])

#immutable
s="decode"
print(s)
print(type(s))
print(s[0])
s[0] = "z"
print(s)

d
decode
<class 'str'>
d

TypeError: 'str' object does not support item assignment

In [14]:
                     #MULTILINE
#indexed
s='''HELLO 
       WELCOME 
            TO 
              BHOPAL'''
print(s)
print(s[0])

#immutable
d='''HELLO 
       WELCOME 
            TO 
              BHOPAL'''
d[0] = "r"
print(d)

HELLO
       WELCOME
            TO
              BHOPAL
H

TypeError: 'str' object does not support item assignment

# LIST

In [16]:
# IT IS A COLLECTION OF ELEMENT 
# IT IS DENOTED BY [] WITH CSV
# INDEXED, ORDEREWD , MUTUABLE AND HETEROGENEOUS IN Nature 
l=[] #empty
print(l)
print(type(l))

[]
<class 'list'>

In [17]:
l=[10,20,"decode",10.5]
print(l)
print(l[3]) #indexed
l[0]="bhopal"
print(l)

[10, 20, 'decode', 10.5]
10.5
['bhopal', 20, 'decode', 10.5]

# TUPLE

In [20]:
#COLLECTION OF ELEMENT 
# DENOTED BY () WITH CSV 
# ORDERED , INDEXED , IMMUTABLE AND HETEROGENEOUS
t =() #empty tuple
print(t)
print(type(t))

()
<class 'tuple'>

In [21]:
# SINGLE VALUE TUPLE 
t=(10,)
print(t)

(10,)

In [22]:
# multi value tuple
t=(10,20,300,"decode",10.5)
print(t)
print(t[2])
t[2]=400 #immutuable
print(t)

(10, 20, 300, 'decode', 10.5)
300

TypeError: 'tuple' object does not support item assignment

# dictionary

In [1]:
# IT IS A COLLECTION OF DATAVALUE 
# ORDERED , UNINDEXED AND MUTUABLE 
# KEYS ------ UNIQUE
# VALUES ------ DUPLICATE 
d={}
print(d)
print(type(d))

{}
<class 'dict'>

In [6]:
d={"name":"abc","subject":"da","fees":"25000"}
print(d)
print(d["name"])
d["name"]="def"
print(d)

{'name': 'abc', 'subject': 'da', 'fees': '25000'}
abc
{'name': 'def', 'subject': 'da', 'fees': '25000'}

# set

In [7]:
#IT IS A COLLECTION OF ELEMENT
#IT IS DENOTED BY {} WITH CSV
#UNORDERED ,UNINDEXED , MUTUABLE , HETEROGENEOUS IN NATURE 
# STORED UNIQUE VALUE 
s=set()
print(s)
print(type(s))

set()
<class 'set'>

In [8]:
s={10,10,10,10,20,10,100,200,"decode","h"}
print(s)
print(type(s))
s.add(1000)
print(s)

{100, 20, 200, 10, 'decode', 'h'}
<class 'set'>
{100, 20, 200, 1000, 10, 'decode', 'h'}

In [1]:
s={10,10,10,10,20,10,100,200,"decode","h"}
print(s)
print(type(s))
s.add(1000)
print(s)

{100, 20, 'decode', 200, 10, 'h'}
<class 'set'>
{100, 20, 'decode', 200, 1000, 10, 'h'}