In [1]:
t=()
print(type(t))

<class 'tuple'>

In [2]:
t=(16,)
print(t)

16

In [12]:
t=(1,2,3,4)
print(t[0])   #indexed
print(t)    #ordered
t=(1,23,45,"hello",10.5) #hterogeneous
print(t)
t[2]=2     #immutable
print(t)

1
(1, 2, 3, 4)
(1, 23, 45, 'hello', 10.5)

TypeError: 'tuple' object does not support item assignment

[1, 2, 3, 16]

In [15]:
t=(1,23,45,"hello",10.5)
for i in t:
    print(i)

1
23
45
hello
10.5

In [17]:
t=(1,23,45,"hello",10.5)
for i in range(len(t)):
    print(t[i])

1
23
45
hello
10.5

In [18]:
l=[1,2,3,4,5]
l1=[]
for i in l:
    l1.append(i**3)
print(l1)

[1, 8, 27, 64, 125]

In [26]:
l=[5,1,3,4,2]
l1=[2,5,1,3,4]
l2=[]
for i,j in zip(l,l1):
    l2.append(i**j)
print(l2)

[25, 1, 3, 64, 16]

In [25]:
l=[12,1,35,47,23,22,36,17]
l1=[]
for i in l:
    if i%2!=0:
        l1.append(i)
print(l1)

[1, 35, 47, 23, 17]

In [2]:
l=["madam","aa","decode","canvas","naman","figma"]
l1=[]
for i in l:
    rev=""
    for j in i:
        rev=j+rev
    if i==rev:
        l1.append(i)
print(l1)

['madam', 'aa', 'naman']

In [8]:
l=[1,5,3,4,5,1,6,7,7,5,9,11,5,8]
l1=0
for i in range(len(l)):
    l1=l1+l[i]
print(l1/len(l))

5.5

In [4]:
print(77/14)

5.5

In [9]:
l=[1,5,3,4,5,1,6,7,7,5,9,11,5,8]
l1=len(l)/2
for i in range(l1-1,l1):
    l2=l[i]+l[l1]
print(l2)

TypeError: 'float' object cannot be interpreted as an integer

In [33]:
l=[1,5,3,4,5,1,6,7,7,5,9,11,5,8]
l1=sorted(l)
print(l1)
l2=int(len(l)/2)
for i in range(l2-1,l2):
    l3=(l1[i]+l1[i+1])/2
    print(l3)

[1, 1, 3, 4, 5, 5, 5, 5, 6, 7, 7, 8, 9, 11, 45]
5.0

In [8]:
l=[1,5,3,4,5,1,6,7,7,5,9,11,5]
l1=sorted(l)
l2=int(len(l)//2)
if l2%2!=0:
    for i in range(l2-1,l2):
        l3=(l1[i]+l1[i+1])/2
    print(l3)
else:
    for i in range(l2,l2+1):
        print(l1[i])

5

In [10]:
sorted_list=sorted(l)
n=len(sorted_list)
if n%2!=0:
    median=sorted_list[n//2]
else:
    median=(sorted_list[n//2-1]+sorted_list[n//2]/2)
print(median)

5

In [12]:
t=(10,20,30,100,10.5)
print(max(t))
print(min(t))

100
10

In [ ]:
t=(10,20,30,100,10.5)